<br>
<!--Titulo para nuestro error-->
<h1 align="center"> Error</h1>
<!--Parrafo que esta centrado y que contiene el objeto de message y lo muestra en la pantalla-->
<P align="Center">{{message}}</P>
<br>
<!--Boton para poder destruir la sesion iniciada-->
<center><button class ="nav-link font-semibold bg-red-500 hover:bg-red-700 py-3 px-4 rounded-md"
 onclick="window.location.href ='/logout';"> Vualve a iniciar sesion</button></center>