<!--Mensaje de bienvenida al usuario con su nombre de correo electronico en nuestra pagina principal-->
<Font size="5">
<h4 style="color:rgb(0, 0, 0)" class="h1 text-center my-14 text-2x1 py-17 px-8 ">Cafeteria</b></h4|>
<h1 style="color:rgb(0, 0, 0)" class="h1 text-center my-14 text-2x1 py-19 px-8">Bienvenido <b> {{name}} !</b></h1>
</Font>
<body> 
    <center><img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExODIzMTMyYjM0YWQyNDE3MDQ5NDc2YjVmNzAyZjUwODlhYjJiZjdmZiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/OLJk1yjakbkhoQpkrb/giphy.gif" alt="gif" width="500" height="100"></center>
  </body> 
</html>
